<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <welcome-file-list>
        <welcome-file>signin.jsp</welcome-file>
    </welcome-file-list>

    <!--Servlets-->

    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>Servlets.SignInServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>Servlets.SignUpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Queue</servlet-name>
        <servlet-class>Servlets.QueueServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Queue</servlet-name>
        <url-pattern>/queue</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Success</servlet-name>
        <servlet-class>Servlets.SuccessServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Success</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>

    <!--Filters-->

    <filter>
        <filter-name>SignUpFilter</filter-name>
        <filter-class>Filters.SignUpFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SignUpFilter</filter-name>
        <servlet-name>SignUp</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>SignInFilter</filter-name>
        <filter-class>Filters.SignInFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SignInFilter</filter-name>
        <servlet-name>SignIn</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>QueueFilter</filter-name>
        <filter-class>Filters.QueueFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>QueueFilter</filter-name>
        <servlet-name>Queue</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>SuccessFilter</filter-name>
        <filter-class>Filters.SuccessFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SuccessFilter</filter-name>
        <servlet-name>Success</servlet-name>
    </filter-mapping>
</web-app>